 <div id="page">
  {% if page.header %}
  <div class="c_header">
      {{ page.header }}
  </div>
  {% endif %}
  <div>
   {{ page.breadcrumb }}
   {{ page.content }}
  </div>
 
  <div class="c_footer">
  </div>
</div>