$white: #ffffff;
$black: #000000;
$yellow: #F2AA00;
$darkBlue: #003B5C;
$green: #82BC00;
$green20: #9FD846;
$green30:  #86C229;
$green40: #699820;
$green50: #4C6E17;
$turquoise: #279989;
$gray: #373737;
$red: red;
$lightGray: #F3F3F3;
// FONTS
$font-a: 'Roboto', sans-serif;
$font-b: 'Montserrat', sans-serif;

$padding_col: 10px;

$wrapper: 1197px;

$breakpoints: (
  xs: 0px,
  sm: 768px,
  md: 991px,
  lg: 1200px,
);