.c-overlay {
    background-color: rgba(40,40,40,.8);
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: all .3s;
    visibility: hidden;
    width: 100%;
    z-index: 9999999;
}


.c-lightbox{

    position: fixed;
    max-width: 750px;
    width: 98%;
    background: #fff;
    left: 50%;
    top: 50%;
    z-index: 999999999;
    transform: translateX(-50%) translateY(-50%);
    display: none;
    padding: 15px;
    border-radius: 6px;
    transition: transform 0.25s linear;
    overflow-y: auto;


    &--fix-height{

        height: 95%;
        overflow-y: scroll;
    }
   
      

    &--body{
        overflow: hidden;

        .c-overlay{
            opacity: 1;
            visibility: visible;
        }

        .c-lightbox{
            display: block;
            @include xs{

                left: 0;
                top: 0;
                transform: translateX(0) translateY(0);
            }
        }
    }

    &__content{



    }

    &__cerrar{

        position: absolute;
        right: 6px;
        top: 6px;
        width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 30px;
        z-index: 999;
        text-align: center;
        font-size: 68px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        cursor: pointer;

        &:after{
            content: "X";
            font-size: 19px;
            color: #000;
            font-family: $font-a;
        }

        @include xs{
            right: 5px;
            top: 5px;
        }
    }

 

 
    @include xs{

        width: 100%;
        overflow-y: auto;
        height: 100%;
        transform: translateX(-100%) translateY(0);
        left: 0;
        top: 0;
        display: block;

    }
}


.table-wrapper{
    thead tr th{
        background-color: $darkBlue;
        border: 0;
        font: 16px/24px $font-a;
        color: $white;
        text-align: center;
        &.column{

            &-1{
                
            }
        }
    }

    tbody tr td{
        font: 400 16px/24px $font-a;
        color: $gray;
        text-align: left;
        vertical-align: top;
        ul{
            margin: 0;
            padding: 0 0 0 16px;
        }
    }
}

body .c-content-tab{
   display: none;

    &-active{
        display: block ;
    }
} 


.u-lineas{
    max-width: 936px;
    width: 100%;
}

